@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}
*{
  list-style: none;
  text-decoration: none;
}
a{
  color: white;
}
.home{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}
.items{
  width:300px;
  height: 300px;
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(221, 218, 218);
}
.items img{
  width: 160px;
  height: 160px;
  margin: 5px;
}
.buyprice{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.buy{
  background-color: green;
  color:white;
  cursor: pointer;
  padding: 8px 15px 8px 15px;
  border: none;
  margin: 15px;
}
.prod{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.searchinp{
  padding: 10px;
  margin:10px;
  width: 200px;
}
.search{
  width: 120px;
  padding: 10px;
  background-color: crimson;
  color: aliceblue;
  border: none;
  cursor: pointer;
}